<div class="page">
    <div class="selectCompany">
        <div class="titleCompany">
            <h1 class="title">Select Company</h1>
            <div class="companyOption">
                <label for="dropdown">Pick an option</label>
                <select name="" id="dropdown">
                    <option value="op1">FedEx</option>
                    <option value="op2">Cook Systems</option>
                    <option value="op3">Google</option>
                </select>
            </div>
        </div>
    </div>
</div>